#profile-container {
  background-image: url("../images/profile-bg.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 700px;
  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(18, 0, 28, 0.5);
    min-height: 700px;
    width: 100%;
    aside {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 15px 0;
      h1 {
        font-weight: bold;
        text-decoration: underline;
      }
      h2 {
        text-decoration: none;
      }
      ul {
        width: 100px;
        justify-content: space-between;
      }
    }
    img {
      width: 280px;
      height: auto;
      border-radius: 10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #profile-container > div > img {
    display: none;
  }
}
