* {
  padding: 0px;
  margin: 0px;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Gill Sans", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
  background-color: rgb(35, 35, 35);
  scroll-behavior: smooth;
  color: #f9e7ff;
  text-shadow: 4px 2px 5px rgba(0, 0, 0, 1);
}

.App {
  min-height: 100vh;
  min-width: 280px;
  main {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    section {
      h2 {
        text-transform: uppercase;
        text-decoration: underline;
        text-align: center;
      }
      min-height: 600px;
      width: 100%;
    }
  }
}

/* text sizes throughout the website */

h1 {
  font-size: 50px;
}

h2,
svg {
  font-size: 30px;
  font-weight: 100;
}

h3,
button,
#lg-txt {
  font-size: 25px;
}

p,
.nostyle_btn {
  font-size: 18px;
}

/* resize text under sm screen */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 35px;
  }

  h2,
  #lg-txt,
  h3,
  button,
  .nostyle_btn {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
